@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to the Donation Tracking System!</h1>

<p>This is a simple web application for tracking and managing donations.</p>

<ul>
    <li><a asp-controller="Donations" asp-action="Create">Make Donation</a></li>
    <li><a asp-controller="Campaigns" asp-action="All">View Available Campaigns</a></li>

</ul>
