@using DonationTrackingSystem.Data.Models.Campaigns;
@model CampaignFormModel

<h1 class="text-center">Edit House</h1>
<hr />

<partial name = "_CampaignFormPartial" model = "@Model" />

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}