@using DonationTrackingSystem.Data.Models.Campaigns;
@model IEnumerable<AllCampaignsModel>;

<h1>My Campaigns</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            @if (!Model.Any())
            {
                <h2 class="text-center">You have no houses yet</h2>;
            }
            <!-- Main content (campaigns) -->
            @foreach (var campaign in Model)
            {
                <div class="campaign-box">
                    <h2>@campaign.CampaignName</h2>
                    <p>Goal Progress: @campaign.GoalPercentage.ToString("0.00")%</p>
                    <form asp-action="Details" method="get">
                        <input type="hidden" name="id" value="@campaign.Id" />
                        <button type="submit" class="btn btn-primary">View Details</button>
                    </form>
                </div>
            }
        </div>
    </div>
</div>
