@using DonationTrackingSystem.Data.Models.Campaigns;
@model AllCampaignsQueryModel;

<h1>My Campaigns</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!-- Main content (campaigns) -->
            @foreach (var campaign in Model.Campaigns)
            {
                <div class="campaign-box">
                    <h2>@campaign.CampaignName</h2>
                    <p>Goal Progress: @campaign.GoalPercentage.ToString("0.00")%</p>
                    <form asp-action="Details" method="get">
                        <input type="hidden" name="id" value="@campaign.Id" />
                        <button type="submit" class="btn btn-primary">View Details</button>
                    </form>
                </div>
            }
        </div>
        <div class="col-md-4">
            <!-- Statistics box -->
            <div class="jumbotron">
                <div class="text-center">
                    <h2>Statistics</h2>
                </div>
                <div class="text-center">
                    <h4>Total Campaigns: @Model.TotalCampaigns</h4>
                </div>
            </div>
        </div>
    </div>
</div>
